/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 29, 2018, 11:00:48 AM
    Author     : Jonse
*/
body {
    width: 600px;
    vertical-align: middle;
    margin: 0 auto;
    font-family: monospace;
}

ul {
    padding: 0px;
}

.kek-cont {
    width: 500px;
    margin: 0 auto;
}

.kek {
    width: 480px;
    vertical-align: center;
    margin: 0 auto;
}

.msg-cont {
    margin: 10px;
    padding: 10px;
    background-color: #74a377;
    border-left: 4px solid darkseagreen;
    min-height: 150px;
}
.msg-profile-pic {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 15px;
    border-radius: 10px;
}

.msg-creator {
    font-weight: bold;
    margin-right: 10px;

}

#toolbar {
    margin: 10px auto;
    
}

#toolbar span {
    margin: 45px;
    
}

.toolbar-link {
    
}

#toolbar span:first-child {
    margin-left: 0px;
}

#toolbar span:last-child {
    /*margin-right: 0px*/
}

input[type=text] {
    width: 100%;
    margin: 15px auto;
    height: 25px;
    border-radius: 5px;
    border: 2px solid grey;
    font-family: monospace;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    border: 2px solid black;
}
#header {
    font-size: 1.1em;
    font-family: monospace
}

#content {
    width: 100%;
    height: 70px;
    margin: auto;
    border-radius: 5px;
    border: 2px solid grey;
    font-size: 0.9em;
    font-family: monospace
}
:focus {
    
}

#url {
}

footer {
    height: 50px;
    color: slategrey;
}