<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Kaikki viestit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h3 th:text="${welcome}"></h3>
        <div id="toolbar" th:utext="${toolbar}">
            
           <!-- <a href="/">Etusivu</a>-->

        </div>
        <h2>Täällä näitä viestejä on!</h2>
        <ul style="list-style-type:none">
            <li th:each="viesti : ${messages}" style="list-style-type: none;">
            
                <H4 th:text="${viesti.otsikko}"></h4>
                <span th:text="${viesti.luoja}"></span>
                <span th:text="${viesti.paiva}"></span>
                <p th:text="${viesti.sisalto}"></p>

            
        </li>
    </ul>


    <br>

    <br>
    <form method="POST" action="viesti">
        <input type="text" name="header" placeholder="Otsikko" th:value="${edelOts}" required></input>
        <input type="text" name="content" placeholder="Viesti tähän" th:value="${edelSis}"></input>

        <input type="submit" name="end" value="Valmis"></input>
    </form>
    <br>
    <br>

</body>

</html>
