<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>FameBoard: All messages</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A discussion forum with Kekkonen">
        <meta name="keywords" content="Kekkonen,chat,goodtime">
        <meta name="author" content="The Magic J">
        <meta property="og:image" content="/kekkonen.jpeg">
        <meta property="og:description" content="A discussion forum with the Grand K.">
        <meta property="og:title" content="FameBoard">
        <link rel="stylesheet" href="style2.css">
    </head>
    <body>
        <h3 th:text="${welcome}"></h3>
        <div id="toolbar" th:utext="${toolbar}">

            <!-- <a href="/">Etusivu</a>-->

        </div>
        <h2>Täällä näitä viestejä on!</h2>
        <ul style="list-style-type:none">
            <li th:each="viesti : ${messages}" class="msg-cont" th:id="${viesti.id}" style="list-style-type: none;">

                <H4 class="msg-header" th:text="${viesti.otsikko}"></h4>
                <img class="msg-profile-pic" th:src="@{${viesti.kuvanURL}}"/>
                <span class="msg-creator" th:text="${viesti.luoja}"></span>
                <span class="msg-date" th:text="${viesti.paiva}"></span>
                <p class="msg-content" th:text="${viesti.sisalto}"></p>


            </li>
        </ul>


        <br>

        <br>
        <form method="POST" action="viesti">
            <input type="text" id="header" name="header" placeholder="Otsikko" th:value="${edelOts}" required></input>
            <textarea type="text" id="content" name="content" placeholder="Viesti tähän" th:value="${edelSis}"></textarea>
            <input type="text" id="url" name="url" placeholder="Syötä kokonainen URL kuvaan"></input>
            <input type="submit" name="end" value="Valmis"></input>
        </form>
        <br>
        <br>
        <footer class="lightandblue">Copyright Magic J Corp, 2018.</footer>
    </body>

</html>
