<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>9to5 Reseptipankki</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <a href="/reseptit">Katsele reseptejä</a>
            <a href="/lisaaresepti">Lisää uusi resepti</a>
            <a href="/raaka_aineet">Lisää tai päivitä raaka-aineita</a>
            
        </div>
        <h1>TIKAPE ryhmätyö: Reseptitietokanta</h1>
        <h3> by Team 9to5</h3>
        
        <h2>Reseptitietokannassamme voit tutustua muiden resepteihin ja lisätä omiasi!</h2>
        
    </body>
</html>
