<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>FameBoard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div>
            <a href="/undecided">Toimintoa ei luotu</a>
            <a href="/login">Kirjaudu sisään</a>
            <a href="/signup">Rekisteröidy</a>
            
            
        </div>
        
        
        <h1>Fame Board</h1>
        <h3>Alaotsikko</h3>
        
        <h2>Tässä kuvalauta! jee!</h2>
        
    </body>
</html>
