<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>FameBoard: Profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style2.css">
    </head>
    <body>
        <div>THIS PAGE will display all messages posted by a user.</div>
        <p>This feature, however, has not been implemented yet. Go somewhere else, creep.</p>
    </body>
</html>
