<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Raaka-aine</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body>

                    <div>
                        <a href="/">Etusivu</a>
                        <a href="/reseptit">Katsele reseptejä</a>
                        <a href="/lisaaresepti">Lisää uusi resepti</a>
                    </div>

                    <h2>Raaka-aineen lisäys:</h2>
                    <form method="POST" action="raaka_aineet">
                        <input type="text" name="nimi" placeholder="Raaka-aineen nimi" required/>
                        <input type="text" name="kuvaus" placeholder="kuvaus" />
                        <input type="text" name="mittayksikko" placeholder="mittayksikkö" />
                        <input type="submit" value="Tallenna"/>
                    </form>

                    <div>Raaka-aineen tiedot:</div>

                    <style>
                    table, th, td {
                        border: 1px solid black;
                        border-collapse: collapse;
                    }
                    th, td {
                        padding: 5px;
                        text-align: left;
                    }
                    </style>
                    <table style="width:100%">
                        <tr>
                            <th>Raaka-aine</th>
                            <th>Mittayksikkö</th> 
                            <th>Kuvaus</th>
                            <th>Käytössä</th>
                            <th>Poista</th>
                        </tr>

                        <ul style="list-style-type:none">
                            <li th:each="raaka_aine : ${raaka_aineet}" style="list-style-type: none;">
                                <tr>
                                    <td><span th:text="${raaka_aine.nimi}"/></td>
                                    <td><span th:text="${raaka_aine.mittayksikko}"/></td>
                                    <td><span th:text="${raaka_aine.kuvaus}"/></td>
                                    <td><span th:text="${raaka_aine.kaytossa}"/></td>
                                    <td><form th:action="@{~/raaka_aineet/delete/{id}(id=${raaka_aine.getId()})}" method="POST">
                                            <input type="submit" value="Poista"/>
                                        </form></td>
                                </tr>
                            </li>
                        </ul>



                    </table>
                </body>
    		<p><br>HUOM! Jos raaka-aine on jo osa reseptiä, et voi poistaa sitä poistamatta ensin kaikkia siihen liittyviä reseptejä!</p>
                </html>
